     body{
            margin: 0;
            padding: 0;
        }
        .card{
               margin-left: 35vw;
    margin-top: 35vh;
        }
        .song{
            height: 200px;
            width: 400px;
        }
        .song img{
            height: 150px;
            width: 400px;
        }
        h1{
            margin-top: 0px;
        }